<html>
  <head>
    <title>AI-World JobBoard</title>
  </head>
  <body>
    <h2>
    AI-Word Careers
    </h2>
    <img src="https://static.vecteezy.com/system/resources/thumbnails/021/515/694/small/ai-artificial-intelligence-banner-design-illustration-vector.jpg" height="200"/>
    <h2>
      About AI-World
    </h2>
    <p>
      If you want a job in this post ChatGPT world, then you may just be out of luck. Why would you bother learning such trivial skills like web development when ChatGPT can produce the code for a website based on a wireframe drawn on a napkin. It is laughable that you would think that you have a chance anymore. Although there is still one thing that humans are good for, and that is the making of memes. Articial Intelligence has not yet taken over the meme economy, so we have jobs in meme making for now...
    </p>
    <h2>
      Open Positions
    </h2>
    <p>TODO</p>
    <button>Apply</button>
  </body>
</html>